* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: darkslategray;
}

/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 10px;
}

.columns form {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
}
.container {
  max-width: 960px;
  margin-top: 25px;
}

.header {
  display: block;
  padding: 15px;
  border-radius: 4px;
  background-color: hsl(48, 100%, 67%);
}

.page_item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 15px;
  border-radius: 4px;
  background-color: #efefef;
}

.text_item {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  border-radius: 4px;
  background-color: #efefef;
}

.form_item {
  display: flex;
  flex-direction: column;
}

label, legend {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.radio {
  border: none;
  margin-bottom: 10px;
  margin-left: -40px;
}

.radio legend {
  margin-bottom: 10px;
}

.radio .radio-label {
  display: block;
  font-size: 14px;
  margin: 0 2px 0 2px;
}

.radio input[type='radio'] {
  margin-top: 5px;
  margin-bottom: 5px;
}

.radio .radio-label,
.radio input[type='radio'] {
  float: left;
}

button[type='submit'] {
  display: flex;
  color: #efefef;
  margin-inline-end: auto;
  padding: 10px;
  border: #efefef;
  border-radius: 4px;
  background-color: hsl(141, 53%, 53%);
}

button:hover {
  color: black;
}